*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Kumbh Sans", sans-serif;
    color:white;
    font-size: 2vh;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(20, 19, 23);
}
footer{
    background-color: rgb(0, 0, 0);
    height: 20vh;
    position: relative;
    padding: 2%;
}
img {
    width: 100%;
    height: auto;
}

.front{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.front .logo{
    width: 40%;
}
.buttonsAlign{
    text-align: center;
    width: 60%;
}
.main_buttons {
    
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 2% 5% 2% 5%;
    background-color: rgb(217, 217, 12);
    padding: 2% 5% 2% 5%;
    border: none;
    border-radius: 10%;
    max-height: 50%;
    width: 25%;
}
a:link, a:visited, a:active {
    color:white;
    font-family: "Kumbh Sans", sans-serif;
    text-decoration: none;
}
a:hover{
    color:lightgray;
}
.deviceAnimation{
    width: 100%;
    height: 100vh; 
    display: flex;
    position: sticky; 
    top: 0vh;
    justify-content: center;
    align-items: center;
}
#3mediaDevice{
    width: 100%;       /* Fill the container's width */
    height: auto;      /* Maintain aspect ratio */
    display: block;    /* Remove extra space below canvas */
}
.content {
    padding: 20px;
    height: 140vh; 
}

.DeviceInterface{
    
    display: none;
    margin: 28%;
    margin-top: 30%;
    
}
.devicePositioning{
    position: relative;
}
.deviceFrame img{
    position: absolute;
    pointer-events: none;
    z-index: 3;
}
.deviceButtons{
    position: absolute; /* Position this absolutely within the deviceFrame */
    top: 0%; /* Center the button vertically */
    left: 0%; /* Center the button horizontally */
    display: flex;
    flex-direction: row;
    width: 100%; 
    z-index: 4;
    height: auto; 
    pointer-events: auto;

}
.functionButtons{
    position: absolute; /* Position this absolutely within the deviceFrame */
    top: 25%; /* Center the button vertically */
    left: 95%; /* Center the button horizontally */
    display: flex;
    flex-direction: column;
    /* margin-left: 10%; */
    pointer-events: auto;


}
.deviceButtons button{
    background-color: transparent; 
    border: none;                
    cursor: pointer;  
    height: auto;
    width: 100%;
    margin: 3.9% 6% 0% 6%;
    z-index: 2;
    filter: drop-shadow(rgba(0,0,0,0.8) 0em 1em 1em )

}
.functionButtons button:first-child{
    margin-bottom:100%;
}
.functionButtons button{
    background-color: transparent; 
    border: none;                
    cursor: pointer;  
    margin-bottom:10%;
    margin-left: 30%;
height: 60%;
width: 100%;
    z-index: -3;
}
.player{
    position: absolute; /* Position this absolutely within the deviceFrame */
    top: 26%; /* Center the button vertically */
    left:3%; /* Center the button horizontally */
    width: 94%;
    height: 65%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    color:white;
    /* background-image: url("../images/interfaceElmts/displayBg.jpg");
    background-repeat:round; */
}
.loading{
    filter: brightness(0.8);
}
.socialLink{
    background-color: transparent;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: auto;
    margin:5% 6% 5% 6%;
}
.iconGrid{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    z-index: 2;
}
