*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 2vh;
}
body{
    background-image: url(../images/backgroundImage.jpeg);
    background-repeat: round;
}
footer{
    background-color: rgb(0, 0, 0);
    height: 20vh;
    position: relative;
    padding: 2%;
}
img {
    width: 100%;
    height: auto;
}

.front{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.front .logo{
    width: 40%;
}
.buttonsAlign{
    text-align: center;
    width: 60%;
}
.main_buttons {
    
    color: white;
    -webkit-text-stroke: 1px black;
    margin: 2% 5% 2% 5%;
    background-color: rgb(217, 217, 12);
    padding: 2% 5% 2% 5%;
    border: none;
    border-radius: 10%;
    max-height: 50%;
    width: 25%;
}
a:link, a:visited, a:active {
    color:white;
    text-decoration: none;
}
a:hover{
    color:lightgray;
}